p{
    font-family: cursive;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
}
.fab fa-adn{
    font-size: 36px;
}
.glyphicon-heart{
    font-size: 36px;
}