#h{
    width: 400px;
    height: 500px;
    background-color: orange;
}
#f{
    width: 200px;
    height: 200px;
    background-color: yellow;
    /*overflow: auto;*/
    overflow-x: auto;
   
}