.class{
    width: 200px;
    height: 200px;
    position: absolute;
}
#f{
    background-color: red;
    top: 20px;
    left: 20px;
    opacity: 0.5;
    z-index: 5;
}
#d{
    background-color: yellow;
    top:140px;
    left: 140px;
    opacity: 0.5;
}

#h h1{ /*اولویت بالاتری دارد */
    color: red;
    cursor: zoom-in;
    
}
h1{
    color: blue !important;
}
table{
    border: 3px;
    border-color: red;
    margin: 50px;
}
th,td{
    border: 3px;
    padding: 10px;
    
}
#k{
    visibility: collapse;
}