.b{
    width: 500px;
    height: auto;
    background-color: yellow;
    border: 10px;
    border-style: dashed;
    border-color: aqua;
    border-right-color: red;
    padding: 20px;
    padding-top: 0px;
    margin: 20px;
}

